---
import ArrowLineIcon from "../icons/ArrowLineIcon.astro";
import VerifiedIcon from "../icons/VerifiedIcon.astro";
---

<div
  class="flex items-center justify-around border border-neutral-200 py-14 px-8 gap-8 max-w-7xl m-auto"
>
  <span class="text-orange hidden lg:inline">
    <VerifiedIcon sizes="50" />
  </span>
  <p class="xl:text-xl">
    No arriesgues tu seguridad ni tu bolsillo con improvisaciones. Con un solo
    clic, agenda tu visita técnica y dale a tu hogar o negocio la calidad que
    merece. ¡Tu socio eléctrico de confianza!
  </p>
  <button class="hidden lg:inline">
    <ArrowLineIcon sizes="30" />
  </button>
</div>

<style></style>

<script></script>
