---
import MenuIcon from "../icons/MenuIcon.astro";
import sendMessage from "../utlis/whatsapp";
---

<header
  class="fixed z-10 flex items-center justify-around gap-10 w-full lg:hover:bg-carbon transition py-3 lg:bg-carbon/20 px-5 bg-carbon"
>
  <div class="w-48">
    <img
      src="/11.jpg"
      alt=""
      class="size-16 lg:size-20 object-cover rounded-full"
    />
  </div>
  <nav
    class="lg:flex items-center bg-white/20 py-2 px-10 rounded-full text-white gap-10 hidden"
  >
    <a
      href="#HOME"
      class="px-10 py-2 rounded-full hover:bg-sapphire transition font-medium"
      >Inicio</a
    >
    <a
      href="#SERVICES"
      class="px-10 py-2 rounded-full hover:bg-sapphire transition font-medium"
      >Servicios</a
    >
    <a
      href="#CONTACT"
      class="px-10 py-2 rounded-full hover:bg-sapphire transition font-medium"
      >Contacto</a
    >
  </nav>

  <button
    class="bg-carbon border border-white/20 w-48 py-3 rounded text-white hover:bg-sapphire transition cursor-pointer hidden lg:inline headerContact"
    >Contáctame</button
  >

  <div class="lg:hidden w-48 flex justify-end items-center text-white">
    <button>
      <MenuIcon sizes="40" />
    </button>
  </div>

  <nav
    class="text-white bg-carbon absolute top-full w-full py-8 flex flex-col px-10 gap-5 uppercase text-2xl font-medium lg:hidden mobileMenu"
  >
    <a class="ring px-5 py-2 rounded-full ring-white/10" href="#HOME">Inicio</a>
    <a class="ring px-5 py-2 rounded-full ring-white/10" href="#SERVICES"
      >Servicios</a
    >
    <a class="ring px-5 py-2 rounded-full ring-white/10" href="#CONTACT"
      >Contacto</a
    >
    <button
      class="bg-carbon border border-white/20 w-48 py-3 rounded text-white hover:bg-sapphire transition cursor-pointer text-lg self-center headerContact"
      >Contáctame
    </button>
  </nav>
</header>

<style>
  .mobileMenu {
    transform: translateY(-50%);
    opacity: 0;
    pointer-events: none;
    transition: all 0.333s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .mobileMenu.active {
    transform: translateY(0%);
    opacity: 1;
    pointer-events: all;
  }
</style>

<script>
  import sendMessage from "../utlis/whatsapp";
  import content from "../lib/content";

  document.addEventListener("DOMContentLoaded", () => {
    const headerContact = document.querySelectorAll(".headerContact");

    headerContact.forEach((b) => {
      const button = b as HTMLElement;
      button.addEventListener("click", () => {
        sendMessage(content.messages.header);
      });
    });
  });
</script>
